# Environment variables declared in this file are automatically made available to Prisma.
# See the documentation for more detail: https://pris.ly/d/prisma-schema#accessing-environment-variables-from-the-schema

# Prisma supports the native connection string format for PostgreSQL, MySQL, SQLite, SQL Server, MongoDB and CockroachDB.
# See the documentation for all the connection string options: https://pris.ly/d/connection-strings

DATABASE_URL="postgresql://YOUR_USERNAME:YOUR_PASSWORD@localhost:5432/pondokeun?schema=public"
PUBLIC_APP_URL="http://localhost:5173" # Your app URL

GITHUB_ID=bf2c63453xxxxxxxxxxxx 
GITHUB_SECRET=b92b45dad72d96466xxxxxxxxxxxxxxxxxxxxxxx
GOOGLE_ID=xxxxxxxxxxxxxxxxxxxxxxxxsfqgshjpthoevh.apps.googleusercontent.com
GOOGLE_SECRET=xxxxxxxxxxxxxxxxxxxxxxbnNoQyiSupn
FACEBOOK_ID=8926536xxxxxxxxxx
FACEBOOK_SECRET=4fcd2850d0b38exxxxxxxxxxxxxxxx

AUTH_SECRET=61a1b52fc7f64f69ba9f821f546cxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
